body
{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjiXnHnpbaiXlv1zo8XPo-a-0r89AMdQ-MqA&usqp=CAU");
    background-size:cover ;
	background-position: center;
	margin-top: 100px;
}